:root {
    --backgroundColorOrange: orange;
    --backgroundColorGray: gray;
    --backgroundColorDarkBlue: rgb(12, 12, 68);
    --buttonGreen: green;
    --textWhite: white;
    --textBlack: black;
    --lightGray: lightgray;
    --errorRed: red;
    --dialogBlue: blue;
    --borderGray: gray;

    --headerHeight: 64px;
    --footerHeight: 64px;
    --buttonHeight: 32px;
    --buttonWidth: 100%;
    --cardRadius: 8px;
    --cartWidth: 300px;
    --borderRadiusSmal: 4px;
    --borderRadius: 8px;

    --paddingSmall: 8px;
    --paddingMedium: 16px;
    --marginSmall: 4px;
    --marginMedium: 8px;
    --marginLarge: 16px;

    --fontSizeSmall: 16px;
    --fontSizeMedium: 18px;
    --fontWeightNormal: 400;
    --fontWeightBold: 700;

    --boxShadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

@font-face {
    font-family: 'Sixtyfour';
    src: url('../assets/fonts/Sixtyfour/Sixtyfour-Regular-VariableFont_BLED,SCAN.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

h1{
    margin-block-start: 0;
    margin-block-end: 0;
}

html {
    height: 100vh;
}


main {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}


body {
    margin: 0;
    padding: 0;
    font-family: 'Sixtyfour', sans-serif;
    background-color: var(--backgroundColorGray);
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100vw;
    overflow: hidden; /*kein scrollen im Vollbildmodus */
}

.game-container {
    position: relative;
    width: 720px;
    height: 480px;
    margin: auto;
    border-radius: 20px;
    overflow: hidden;
    background-color: var(--backgroundColorGray);
  }


#canvas {
    width: 100%;
    height: 100%;
    display: block;
    background-color: var(--backgroundColorOrange);
    border-radius: 16px;
    touch-action: none; /* Verhindert Standard-Touch-Aktionen des Browsers */
}


.content {
    display: flex;
    flex-direction: column;
    height: 100%; /* Füllt die Höhe des Body */
    width: 100%;
    font-family: 'Sixtyfour', sans-serif;
}

header {
    background-color: var(--backgroundColorOrange);
    width: 100%;
    height: var(--headerHeight);
    display: flex;
    justify-content: center;
    text-align: center;
    line-height: var(--headerHeight);
    font-size: var(--fontSizeMedium);
}

.header-content {
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}


.main-contend {
    flex: 1;
    padding: var(--paddingMedium);
    background-color: var(--backgroundColorGray);
    display: flex;
    justify-content: center;


}


footer {
    background-color: var(--backgroundColorOrange);
    width: 100%;
    height: var(--footerHeight);
    display: flex;
    justify-content: center;
    text-align: center;
    line-height: var(--headerHeight);
    font-size: var(--fontSizeMedium);
}

.footer-content {
    height: 100%;
    display: flex;
    justify-content: center;
    height: var(--footerHeight);
    align-items: center;
}

.fullscreen-mode {
    width: 100vw;
    height: 100vh;
    object-fit: contain;
  }

  #mobile-controls {
    display: none; /* erst sichtbar, wenn das Spiel aktiv ist */
    position: absolute;
    bottom: 20px;         /* Abstand vom unteren Rand des Game-Containers */
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 50px;            /* Abstand zwischen Buttons */
    z-index: 10;          /* Damit er über dem Canvas liegt */
    width: 100%;
    justify-content: space-around;
    padding: 0 10px;
  }

    /* Allgemeiner Stil für die Mobile Buttons */
    .mobile-btn {
        width: 60px;
        height: 60px;
        border: none;
        background-color: rgba(255, 255, 255, 0.3); /* Leicht sichtbarer Hintergrund */
        background-size: 70%;
        background-repeat: no-repeat;
        background-position: center;
        outline: none;
        border-radius: 50%; /* Runde Buttons */
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Schatten für bessere Sichtbarkeit */
      }
      
      /* Spezifische Hintergrundbilder zuweisen */
      #btnLeft {
        background-image: url('../assets/button/arrowleft.png');
      }
      #btnUp {
        background-image: url('../assets/button/arrowup.png');
      }
      #btnBottle{
        background-image: url('../assets/img/6_salsa_bottle/salsa_bottle.png');
      }
      #btnRight {
        background-image: url('../assets/button/arrowright.png');
      }
